.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d77c7c;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
  }
  
  .popup img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  